html {
  scroll-behavior: smooth;
}

* {
  padding:0;
  margin:0;
}

body {
  height: 100%;
  width: 100%;
  color: rgb(58, 68, 72);
  background: whitesmoke;
  background: white;
}

ul {
  list-style-type: none;
}

li{
  display:inline-block;
  margin: .5rem;
}



.listing-container {
  display: inline-block;
  width: 15rem;
  margin: 1rem;
  /* border-style: solid;
  border-width: .3rem; */
  border-radius: .5rem;
  /* a few box shadow options */
  /* /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
}


.listing-image {
display:flex;
width: 15rem;
height: auto;

align-items: flex-end;
}


.listing-image-container {
  width: 13rem;
  height: 20rem;
}

.my-listings-container {
  width: 80%;
  margin-left: 5%;
  justify-self: center;
}





